In [1]:
#Question 1

marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}

#Q1
def grade(name):
    for student in marks:
        if student == name:
            print(marks[student])
            break
    else:
        print(f"{name} cannot be found.")
        
grade('Andy')
grade('Amy')
grade('James')
grade('Jules')
grade('Arthur')
grade('Ann')

88
66
90
55
77
Ann cannot be found.

In [2]:
#Question 1

#Q2
def average_grade(scoresheet):
    scores = list(scoresheet.values())
    mean = sum(scoresheet.values()) / len(scoresheet.values())
    print(mean)

average_grade(marks)

75.2

In [3]:
#Question 2
def squared(num):
    n = 1
    while n < num:
        print(n, n ** 2)
        n = n + 1
    else:
        print("Subsequent numbers are greater than or equal to", num)
    
squared(8)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
Subsequent numbers are greater than or equal to 8

In [4]:
#Question 3
def sumfrom1(num):
    sum = 0
    n = 1
    while n <= num:
        sum = sum + n
        n = n + 1
    print(sum)

sumfrom1(10)

55

In [5]:
#Question 4
def sumstepfrom1(num):
    sum = 0
    for n in range(num):
        sum = sum + n + 1
        print(sum)

sumstepfrom1(10)

1
3
6
10
15
21
28
36
45
55

In [6]:
#Question 5
import numpy as np
def summary(rnge):
    arr = np.array(list(rnge))
    mean = arr.mean()
    print("Mean is", mean)
    total = arr.sum()
    print("Sum is", total)
    stdev = arr.std()
    print("Standard deviation is", stdev)

summary(range(1,100))

Mean is 50.0
Sum is 4950
Standard deviation is 28.577380332470412

In [7]:
#Question 6
def minimal(v1,v2,v3,v4):
    '''Return the minimum of four values.'''
    min_value = v1
    if v2 < min_value:
        min_value = v2
    if v3 < min_value:
        min_value = v3
    if v4 < min_value:
        min_value = v4
    return min_value

print(minimal(6.2,3.3,1.04,5.5))

1.04

In [8]:
#Question 7
def concatenate(s1,s2,s3):
    concatenated_string = s1 + s2 + s3
    return concatenated_string

print(concatenate("George ","Washington ","University"))

George Washington University